<div class="invite">
  {% if invite.link %}
  <a class="btn big telegram" href="{{ invite.link }}">{{ icon("send") }}Open in Telegram</a>
  <div class="qr">{{ invite.qr | safe }}</div>
  <p class="sub center">On another phone? Point its camera at this code.</p>
  <p class="or">or</p>
  {% endif %}
  <p class="sub">Send this code to {{ invite.agent }} as a message, in any chat app it is on:</p>
  <p class="code"><code>{{ invite.code }}</code>
    <button type="button" class="quiet" data-copy="{{ invite.code }}" hidden>Copy</button></p>
</div>
